/* .themify_builder_content-3935 > .module_row_0 Style */
.themify_builder_content-3935 > .module_row_0.module_row {
	background-color: #cccccc;;
	color: #ffffff;
}
.themify_builder_content-3935 > .module_row_0.module_row h1 {
	color: #ffffff;
}
.themify_builder_content-3935 > .module_row_0.module_row h2 {
	color: #ffffff;
}
.themify_builder_content-3935 > .module_row_0.module_row h3:not(.module-title) {
	color: #ffffff;
}
.themify_builder_content-3935 > .module_row_0.module_row h4 {
	color: #ffffff;
}
.themify_builder_content-3935 > .module_row_0.module_row h5 {
	color: #ffffff;
}
.themify_builder_content-3935 > .module_row_0.module_row h6 {
	color: #ffffff;
}

.themify_builder .text-3935-0-0-1.module-text { background-color: rgba(255,247,0, 1); color: rgba(0,0,0, 1.00); font-size: .8em; padding-top: 30px; border-top-color: rgba(0,0,0, 1); border-top-width: 4px; border-top-style: double; border-right-color: rgba(0,0,0, 1); border-right-width: 4px; border-right-style: double; border-bottom-color: rgba(0,0,0, 1); border-bottom-width: 4px; border-bottom-style: double; border-left-color: rgba(0,0,0, 1); border-left-width: 4px; border-left-style: double;  } 
.themify_builder .text-3935-0-0-1.module-text h1 { color: rgba(0,0,0, 1.00);  } 
.themify_builder .text-3935-0-0-1.module-text h2 { color: rgba(0,0,0, 1.00);  } 
.themify_builder .text-3935-0-0-1.module-text h3:not(.module-title) { color: rgba(0,0,0, 1.00);  } 
.themify_builder .text-3935-0-0-1.module-text h4 { color: rgba(0,0,0, 1.00);  } 
.themify_builder .text-3935-0-0-1.module-text h5 { color: rgba(0,0,0, 1.00);  } 
.themify_builder .text-3935-0-0-1.module-text h6 { color: rgba(0,0,0, 1.00);  } 
/* .themify_builder_content-3935 > .module_row_1 Style */
.themify_builder_content-3935 > .module_row_1.module_row {
	background-color: #ffffff;;
	padding-top : 6%;
	padding-bottom : 6%
}

.themify_builder .text-3935-1-0-3.module-text { margin-top: 50px; margin-bottom: 30px;  } 
/* .themify_builder_content-3935 > .module_row_2 Style */
.themify_builder_content-3935 > .module_row_2.module_row {
	background-image: url(http://themify.me/demo/themes/builder-layouts/files/2015/07/space-guy-suit-1024x682.jpg);
	padding-top : 10%;
	padding-bottom : 10%
}

.themify_builder .text-3935-2-2-1.module-text { color: rgba(61,61,61, 1.00); padding-top: 5%;  } 
.themify_builder .text-3935-2-2-1.module-text h1 { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3935-2-2-1.module-text h2 { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3935-2-2-1.module-text h3:not(.module-title) { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3935-2-2-1.module-text h4 { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3935-2-2-1.module-text h5 { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3935-2-2-1.module-text h6 { color: rgba(61,61,61, 1.00);  } 
/* .themify_builder_content-3935 > .module_row_3 Style */
.themify_builder_content-3935 > .module_row_3.module_row {
	padding-top : 6%
}

/* .themify_builder_content-3935 > .module_row_4 Style */
.themify_builder_content-3935 > .module_row_4.module_row {
	padding-top : 2%
}

/* .themify_builder_content-3935 > .module_row_5 Style */
.themify_builder_content-3935 > .module_row_5.module_row {
	padding-top : 2%;
	padding-bottom : 6%
}

