/* .themify_builder_content-2561 > .module_row_0 Style */
.themify_builder_content-2561 > .module_row_0.module_row {
	background-color: #ebebeb;;
	padding-top : 6%;
	padding-bottom : 6%
}

.themify_builder .text-2561-sub_row_0-0-1-0-0.module-text { padding-top: 40px; padding-bottom: 40px;  } 
.themify_builder .image-2561-sub_row_0-0-1-1-0.module-image { background-color: rgba(255,255,255, 1.00); border-top-color: rgba(54,54,54, 1); border-top-width: 1px; border-top-style: solid; border-right-color: rgba(54,54,54, 1); border-right-width: 1px; border-right-style: solid; border-bottom-color: rgba(54,54,54, 1); border-bottom-width: 1px; border-bottom-style: solid; border-left-color: rgba(54,54,54, 1); border-left-width: 1px; border-left-style: solid;  } 
/* .themify_builder_content-2561 > .module_row_1 Style */
.themify_builder_content-2561 > .module_row_1.module_row {
	padding-top : 8%;
	padding-bottom : 6%
}

.themify_builder .text-2561-1-0-1.module-text { margin-bottom: 50px;  } 
/* .themify_builder_content-2561 > .module_row_2 Style */
.themify_builder_content-2561 > .module_row_2.module_row {
	background-color: #ebebeb;;
	padding-top : 10%;
	padding-bottom : 10%
}

.themify_builder .text-2561-2-0-1.module-text { padding-top: 3%;  } 
/* .themify_builder_content-2561 > .module_row_3 Style */
.themify_builder_content-2561 > .module_row_3.module_row {
	padding-top : 6%;
	padding-bottom : 6%
}

.themify_builder .image-2561-sub_row_3-0-2-0-0.module-image { padding-top: 2%; padding-bottom: 2%;  } 
.themify_builder .image-2561-sub_row_3-0-2-0-1.module-image { padding-top: 4%; padding-bottom: 4%;  } 
.themify_builder .image-2561-sub_row_3-0-2-1-0.module-image { padding-top: 2%; padding-bottom: 2%;  } 
.themify_builder .image-2561-sub_row_3-0-2-1-1.module-image { padding-top: 4%; padding-bottom: 4%;  } 
/* .themify_builder_content-2561 > .module_row_4 Style */
.themify_builder_content-2561 > .module_row_4.module_row {
	background-color: #f0f0f0;;
	padding-top : 3%;
	padding-bottom : 3%
}

