/* .themify_builder_content-3933 > .module_row_0 Style */
.themify_builder_content-3933 > .module_row_0.module_row {
	background-color: #5CC1AF;;
	color: #ffffff;;
	padding-top : 6%;
	padding-bottom : 6%
}
.themify_builder_content-3933 > .module_row_0.module_row a {
	color: #ffffff;
}
.themify_builder_content-3933 > .module_row_0.module_row h1 {
	color: #ffffff;
}
.themify_builder_content-3933 > .module_row_0.module_row h2 {
	color: #ffffff;
}
.themify_builder_content-3933 > .module_row_0.module_row h3:not(.module-title) {
	color: #ffffff;
}
.themify_builder_content-3933 > .module_row_0.module_row h4 {
	color: #ffffff;
}
.themify_builder_content-3933 > .module_row_0.module_row h5 {
	color: #ffffff;
}
.themify_builder_content-3933 > .module_row_0.module_row h6 {
	color: #ffffff;
}

.themify_builder .text-3933-0-0-1.module-text { padding-top: 3%;  } 
/* .themify_builder_content-3933 > .module_row_1 Style */
.themify_builder_content-3933 > .module_row_1.module_row {
	padding-top : 6%;
	padding-bottom : 6%
}

.themify_builder .slider-3933-1-0-2.module-slider { padding-top: 6%;  } 
/* .themify_builder_content-3933 > .module_row_3 Style */
.themify_builder_content-3933 > .module_row_3.module_row {
	padding-top : 6%;
	padding-bottom : 6%
}

.themify_builder .text-3933-sub_row_3-0-1-0-0.module-text { margin-bottom: 30px;  } 
.themify_builder .text-3933-sub_row_3-0-2-1-0.module-text { font-size: 1.4em; padding-top: 60px; margin-top: 60px; border-top-color: rgba(238,238,238, 1); border-top-width: 1px; border-top-style: solid;  } 
/* .themify_builder_content-3933 > .module_row_5 Style */
.themify_builder_content-3933 > .module_row_5.module_row {
	padding-top : 6%;
	padding-bottom : 6%
}

.themify_builder .text-3933-sub_row_5-0-2-1-0.module-text { font-size: 1.4em; padding-top: 60px; margin-top: 60px; border-top-color: rgba(238,238,238, 1); border-top-width: 1px; border-top-style: solid;  } 
/* .themify_builder_content-3933 > .module_row_7 Style */
.themify_builder_content-3933 > .module_row_7.module_row {
	padding-top : 6%;
	padding-bottom : 6%
}

.themify_builder .text-3933-sub_row_7-0-2-1-0.module-text { font-size: 1.3em; padding-top: 60px; margin-top: 60px; border-top-color: rgba(238,238,238, 1); border-top-width: 1px; border-top-style: solid;  } 
/* .themify_builder_content-3933 > .module_row_9 Style */
.themify_builder_content-3933 > .module_row_9.module_row {
	padding-top : 6%;
	padding-bottom : 6%
}

.themify_builder .text-3933-sub_row_9-0-2-1-0.module-text { font-size: 1.3em; padding-top: 60px; margin-top: 60px; border-top-color: rgba(238,238,238, 1); border-top-width: 1px; border-top-style: solid;  } 
/* .themify_builder_content-3933 > .module_row_11 Style */
.themify_builder_content-3933 > .module_row_11.module_row {
	text-align: center;
	padding-top : 6%;
	padding-bottom : 10%
}

