/* .themify_builder_content-3964 > .module_row_0 Style */
.themify_builder_content-3964 > .module_row_0.module_row {
	background-image: url(http://themify.me/demo/themes/builder-layouts/files/2015/07/bmw.jpg);
	background-size: cover;
	color: #ffffff;;
	padding-top : 10%;
	padding-bottom : 6%
}
.themify_builder_content-3964 > .module_row_0.module_row a {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_0.module_row h1 {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_0.module_row h2 {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_0.module_row h3:not(.module-title) {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_0.module_row h4 {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_0.module_row h5 {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_0.module_row h6 {
	color: #ffffff;
}

.themify_builder .feature-3964-sub_row_0-0-1-1-0.module-feature { background-color: rgba(0,0,0, 0.59); padding-top: 10px; padding-right: 15px; padding-bottom: 10px; padding-left: 15px; margin-top: 50%;  } 
/* .themify_builder_content-3964 > .module_row_1 Style */
.themify_builder_content-3964 > .module_row_1.module_row {
	background-image: url(http://themify.me/demo/themes/builder-layouts/files/2015/07/bg-driving-pleasure-01.jpg);
	color: #ffffff;;
	padding-top : 12%;
	padding-bottom : 10%
}
.themify_builder_content-3964 > .module_row_1.module_row h1 {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_1.module_row h2 {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_1.module_row h3:not(.module-title) {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_1.module_row h4 {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_1.module_row h5 {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_1.module_row h6 {
	color: #ffffff;
}

.themify_builder .text-3964-sub_row_1-0-1-0-0.module-text { background-color: rgba(0,0,0, 0.67); padding-top: 10px; padding-right: 15px; padding-bottom: 10px; padding-left: 15px;  } 
/* .themify_builder_content-3964 > .module_row_2 Style */
.themify_builder_content-3964 > .module_row_2.module_row {
	background-color: #0069D2;;
	color: #ffffff;;
	padding-top : 8%;
	padding-bottom : 8%
}
.themify_builder_content-3964 > .module_row_2.module_row h1 {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_2.module_row h2 {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_2.module_row h3:not(.module-title) {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_2.module_row h4 {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_2.module_row h5 {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_2.module_row h6 {
	color: #ffffff;
}

/* .themify_builder_content-3964 > .module_row_3 Style */
.themify_builder_content-3964 > .module_row_3.module_row {
	background-image: url(http://themify.me/demo/themes/builder-layouts/files/2015/07/exterior-fw-05.jpg);
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_3.module_row h1 {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_3.module_row h2 {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_3.module_row h3:not(.module-title) {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_3.module_row h4 {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_3.module_row h5 {
	color: #ffffff;
}
.themify_builder_content-3964 > .module_row_3.module_row h6 {
	color: #ffffff;
}

.themify_builder .text-3964-3-0-1.module-text { background-color: rgba(0,0,0, 0.45); padding-top: 15px; padding-right: 15px; padding-bottom: 5px; padding-left: 15px;  } 
/* .themify_builder_content-3964 > .module_row_4 Style */
.themify_builder_content-3964 > .module_row_4.module_row {
	padding-top : 8%;
	padding-bottom : 6%
}

/* .themify_builder_content-3964 > .module_row_5 Style */
.themify_builder_content-3964 > .module_row_5.module_row {
	background-color: #edebf0;;
	color: #72747d;;
	padding-top : 8%;
	padding-bottom : 6%
}
.themify_builder_content-3964 > .module_row_5.module_row a {
	color: #000000;
}
.themify_builder_content-3964 > .module_row_5.module_row h1 {
	color: #72747d;
}
.themify_builder_content-3964 > .module_row_5.module_row h2 {
	color: #72747d;
}
.themify_builder_content-3964 > .module_row_5.module_row h3:not(.module-title) {
	color: #72747d;
}
.themify_builder_content-3964 > .module_row_5.module_row h4 {
	color: #72747d;
}
.themify_builder_content-3964 > .module_row_5.module_row h5 {
	color: #72747d;
}
.themify_builder_content-3964 > .module_row_5.module_row h6 {
	color: #72747d;
}

