/* .themify_builder_content-3973 > .module_row_0 Style */
.themify_builder_content-3973 > .module_row_0.module_row {
	background-image: url(http://themify.me/demo/themes/builder-layouts/files/2015/07/beach-bg.jpg);
	background-color: #cccccc;;
	text-align: center;
	color: #ffffff;
}
.themify_builder_content-3973 > .module_row_0.module_row h1 {
	color: #ffffff;
}
.themify_builder_content-3973 > .module_row_0.module_row h2 {
	color: #ffffff;
}
.themify_builder_content-3973 > .module_row_0.module_row h3:not(.module-title) {
	color: #ffffff;
}
.themify_builder_content-3973 > .module_row_0.module_row h4 {
	color: #ffffff;
}
.themify_builder_content-3973 > .module_row_0.module_row h5 {
	color: #ffffff;
}
.themify_builder_content-3973 > .module_row_0.module_row h6 {
	color: #ffffff;
}

/* .themify_builder_content-3973 > .module_row_1 Style */
.themify_builder_content-3973 > .module_row_1.module_row {
	background-color: #ffffff;;
	text-align: center;
	padding-top : 6%;
	padding-bottom : 6%
}

.themify_builder .text-3973-1-0-2.module-text { padding-top: 2%; padding-bottom: 3%;  } 
.themify_builder .text-3973-sub_row_1-0-3-1-0.module-text { text-align: left;  } 
/* .themify_builder_content-3973 > .module_row_2 Style */
.themify_builder_content-3973 > .module_row_2.module_row {
	background-color: #ffcc00;;
	font-size: 2em;
	text-align: center;
	padding-top : 3%;
	padding-bottom : 3%
}

.themify_builder .text-3973-2-0-1.module-text { color: rgba(61,61,61, 1.00); padding-top: 5%;  } 
.themify_builder .text-3973-2-0-1.module-text h1 { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3973-2-0-1.module-text h2 { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3973-2-0-1.module-text h3:not(.module-title) { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3973-2-0-1.module-text h4 { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3973-2-0-1.module-text h5 { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3973-2-0-1.module-text h6 { color: rgba(61,61,61, 1.00);  } 
/* .themify_builder_content-3973 > .module_row_3 Style */
.themify_builder_content-3973 > .module_row_3.module_row {
	padding-top : 5%;
	padding-bottom : 5%
}

.themify_builder .text-3973-sub_row_3-0-1-1-0.module-text { text-align: left;  } 
/* .themify_builder_content-3973 > .module_row_4 Style */
.themify_builder_content-3973 > .module_row_4.module_row {
	background-color: #9e9e9e;;
	text-align: center;
	color: #ffffff;
}
.themify_builder_content-3973 > .module_row_4.module_row h1 {
	color: #ffffff;
}
.themify_builder_content-3973 > .module_row_4.module_row h2 {
	color: #ffffff;
}
.themify_builder_content-3973 > .module_row_4.module_row h3:not(.module-title) {
	color: #ffffff;
}
.themify_builder_content-3973 > .module_row_4.module_row h4 {
	color: #ffffff;
}
.themify_builder_content-3973 > .module_row_4.module_row h5 {
	color: #ffffff;
}
.themify_builder_content-3973 > .module_row_4.module_row h6 {
	color: #ffffff;
}

.themify_builder .text-3973-sub_row_4-0-1-1-0.module-text { border-bottom-color: rgba(176,176,176, 1); border-bottom-width: 1px; border-bottom-style: solid;  } 
.themify_builder .text-3973-4-0-2.module-text { margin-top: 2%;  } 
/* .themify_builder_content-3973 > .module_row_5 Style */
.themify_builder_content-3973 > .module_row_5.module_row {
	background-color: #ffcc00;;
	font-size: 2em;
	text-align: center;
	padding-top : 3%;
	padding-bottom : 3%
}

.themify_builder .text-3973-5-0-1.module-text { color: rgba(61,61,61, 1.00); padding-top: 5%;  } 
.themify_builder .text-3973-5-0-1.module-text h1 { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3973-5-0-1.module-text h2 { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3973-5-0-1.module-text h3:not(.module-title) { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3973-5-0-1.module-text h4 { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3973-5-0-1.module-text h5 { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3973-5-0-1.module-text h6 { color: rgba(61,61,61, 1.00);  } 
/* .themify_builder_content-3973 > .module_row_6 Style */
.themify_builder_content-3973 > .module_row_6.module_row {
	background-color: #ebebeb;;
	padding-top : 3%;
	padding-bottom : 3%
}

.themify_builder .text-3973-6-0-1.module-text { text-align: center; margin-bottom: 30px;  } 
.themify_builder .image-3973-sub_row_6-0-2-0-0.module-image { padding-top: 6%;  } 
.themify_builder .image-3973-sub_row_6-0-2-1-0.module-image { padding-top: 6%; padding-bottom: 3%;  } 
.themify_builder .image-3973-sub_row_6-0-3-0-0.module-image { padding-top: 3%; padding-bottom: 3%;  } 
.themify_builder .image-3973-sub_row_6-0-3-1-0.module-image { padding-top: 3%;  } 
.themify_builder .image-3973-sub_row_6-0-4-0-0.module-image { padding-top: 3%; padding-bottom: 3%;  } 
.themify_builder .image-3973-sub_row_6-0-4-1-0.module-image { padding-top: 3%; padding-bottom: 3%;  } 
/* .themify_builder_content-3973 > .module_row_7 Style */
.themify_builder_content-3973 > .module_row_7.module_row {
	background-color: #858585;;
	text-align: center;
	color: #ffffff;;
	padding-top : 5%;
	padding-bottom : 3%
}
.themify_builder_content-3973 > .module_row_7.module_row h1 {
	color: #ffffff;
}
.themify_builder_content-3973 > .module_row_7.module_row h2 {
	color: #ffffff;
}
.themify_builder_content-3973 > .module_row_7.module_row h3:not(.module-title) {
	color: #ffffff;
}
.themify_builder_content-3973 > .module_row_7.module_row h4 {
	color: #ffffff;
}
.themify_builder_content-3973 > .module_row_7.module_row h5 {
	color: #ffffff;
}
.themify_builder_content-3973 > .module_row_7.module_row h6 {
	color: #ffffff;
}

/* .themify_builder_content-3973 > .module_row_8 Style */
.themify_builder_content-3973 > .module_row_8.module_row {
	background-color: #ffcc00;;
	font-size: 2em;
	text-align: center;
	padding-top : 3%;
	padding-bottom : 3%
}

.themify_builder .text-3973-8-0-1.module-text { color: rgba(61,61,61, 1.00); padding-top: 5%;  } 
.themify_builder .text-3973-8-0-1.module-text h1 { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3973-8-0-1.module-text h2 { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3973-8-0-1.module-text h3:not(.module-title) { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3973-8-0-1.module-text h4 { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3973-8-0-1.module-text h5 { color: rgba(61,61,61, 1.00);  } 
.themify_builder .text-3973-8-0-1.module-text h6 { color: rgba(61,61,61, 1.00);  } 
