/* .themify_builder_content-2600 > .module_row_0 Style */
.themify_builder_content-2600 > .module_row_0.module_row {
	background-color: #700696;
	background-color: rgba(112,6,150, 0.60);
	color: #ffffff;;
	padding-top : 10%;
	padding-bottom : 8%
}
.themify_builder_content-2600 > .module_row_0.module_row h1 {
	color: #ffffff;
}
.themify_builder_content-2600 > .module_row_0.module_row h2 {
	color: #ffffff;
}
.themify_builder_content-2600 > .module_row_0.module_row h3:not(.module-title) {
	color: #ffffff;
}
.themify_builder_content-2600 > .module_row_0.module_row h4 {
	color: #ffffff;
}
.themify_builder_content-2600 > .module_row_0.module_row h5 {
	color: #ffffff;
}
.themify_builder_content-2600 > .module_row_0.module_row h6 {
	color: #ffffff;
}

/* .themify_builder_content-2600 > .module_row_1 Style */
.themify_builder_content-2600 > .module_row_1.module_row {
	background-color: #2ec2b8;;
	color: #ffffff;;
	padding-top : 6%;
	padding-bottom : 6%
}
.themify_builder_content-2600 > .module_row_1.module_row h1 {
	color: #ffffff;
}
.themify_builder_content-2600 > .module_row_1.module_row h2 {
	color: #ffffff;
}
.themify_builder_content-2600 > .module_row_1.module_row h3:not(.module-title) {
	color: #ffffff;
}
.themify_builder_content-2600 > .module_row_1.module_row h4 {
	color: #ffffff;
}
.themify_builder_content-2600 > .module_row_1.module_row h5 {
	color: #ffffff;
}
.themify_builder_content-2600 > .module_row_1.module_row h6 {
	color: #ffffff;
}

/* .themify_builder_content-2600 > .module_row_2 Style */
.themify_builder_content-2600 > .module_row_2.module_row {
	padding-top : 6%;
	padding-bottom : 6%
}

/* .themify_builder_content-2600 > .module_row_3 Style */
.themify_builder_content-2600 > .module_row_3.module_row {
	background-color: #000000;;
	color: #ffffff;;
	padding-top : 6%;
	padding-bottom : 6%
}
.themify_builder_content-2600 > .module_row_3.module_row h1 {
	color: #ffffff;
}
.themify_builder_content-2600 > .module_row_3.module_row h2 {
	color: #ffffff;
}
.themify_builder_content-2600 > .module_row_3.module_row h3:not(.module-title) {
	color: #ffffff;
}
.themify_builder_content-2600 > .module_row_3.module_row h4 {
	color: #ffffff;
}
.themify_builder_content-2600 > .module_row_3.module_row h5 {
	color: #ffffff;
}
.themify_builder_content-2600 > .module_row_3.module_row h6 {
	color: #ffffff;
}

/* .themify_builder_content-2600 > .module_row_4 Style */
.themify_builder_content-2600 > .module_row_4.module_row {
	padding-top : 6%;
	padding-bottom : 6%
}

