/* .themify_builder_content-3988 > .module_row_0 Style */
.themify_builder_content-3988 > .module_row_0.module_row {
	background-image: url(http://themify.me/demo/themes/builder-layouts/files/2015/07/event-page-bg-1024x632.jpg);
	color: #000000;
}
.themify_builder_content-3988 > .module_row_0.module_row a {
	color: #000000;
}
.themify_builder_content-3988 > .module_row_0.module_row h1 {
	color: #000000;
}
.themify_builder_content-3988 > .module_row_0.module_row h2 {
	color: #000000;
}
.themify_builder_content-3988 > .module_row_0.module_row h3:not(.module-title) {
	color: #000000;
}
.themify_builder_content-3988 > .module_row_0.module_row h4 {
	color: #000000;
}
.themify_builder_content-3988 > .module_row_0.module_row h5 {
	color: #000000;
}
.themify_builder_content-3988 > .module_row_0.module_row h6 {
	color: #000000;
}

.themify_builder .text-3988-0-0-3.module-text { padding-top: 5%;  } 
/* .themify_builder_content-3988 > .module_row_1 Style */
.themify_builder_content-3988 > .module_row_1.module_row {
	background-color: #e6e6e6;;
	padding-top : 6%;
	padding-bottom : 6%
}

.themify_builder .image-3988-sub_row_1-0-2-0-0.module-image { margin-bottom: 20px;  } 
.themify_builder .text-3988-sub_row_1-0-2-0-1.module-text { padding-top: 5%;  } 
.themify_builder .image-3988-sub_row_1-0-2-1-0.module-image { margin-bottom: 20px;  } 
.themify_builder .text-3988-sub_row_1-0-2-1-1.module-text { padding-top: 5%;  } 
.themify_builder .image-3988-sub_row_1-0-2-2-0.module-image { margin-bottom: 20px;  } 
.themify_builder .text-3988-sub_row_1-0-2-2-1.module-text { padding-top: 5%;  } 
.themify_builder .image-3988-sub_row_1-0-2-3-0.module-image { margin-bottom: 20px;  } 
.themify_builder .text-3988-sub_row_1-0-2-3-1.module-text { padding-top: 5%;  } 
/* .themify_builder_content-3988 > .module_row_2 Style */
.themify_builder_content-3988 > .module_row_2.module_row {
	padding-top : 6%;
	padding-bottom : 6%
}

/* .themify_builder_content-3988 > .module_row_3 Style */
.themify_builder_content-3988 > .module_row_3.module_row {
	background-color: #FECD06;
}

.themify_builder .text-3988-3-1-1.module-text { padding-top: 5%; margin-right: 5%;  } 
/* .themify_builder_content-3988 > .module_row_4 Style */
.themify_builder_content-3988 > .module_row_4.module_row {
	padding-top : 6%;
	padding-bottom : 6%
}

.themify_builder .image-3988-sub_row_4-0-3-2-0.module-image { padding-top: 15px;  } 
.themify_builder .image-3988-sub_row_4-0-3-4-0.module-image { padding-top: 25px;  } 
/* .themify_builder_content-3988 > .module_row_5 Style */
.themify_builder_content-3988 > .module_row_5.module_row {
	background-color: #FECD06;;
	padding-top : 6%;
	padding-bottom : 6%
}

/* .themify_builder_content-3988 > .module_row_6 Style */
.themify_builder_content-3988 > .module_row_6.module_row {
	background-color: #edf4fa;;
	color: #000000;;
	padding-top : 6%;
	padding-bottom : 6%
}
.themify_builder_content-3988 > .module_row_6.module_row h1 {
	color: #000000;
}
.themify_builder_content-3988 > .module_row_6.module_row h2 {
	color: #000000;
}
.themify_builder_content-3988 > .module_row_6.module_row h3:not(.module-title) {
	color: #000000;
}
.themify_builder_content-3988 > .module_row_6.module_row h4 {
	color: #000000;
}
.themify_builder_content-3988 > .module_row_6.module_row h5 {
	color: #000000;
}
.themify_builder_content-3988 > .module_row_6.module_row h6 {
	color: #000000;
}

/* .themify_builder_content-3988 > .module_row_7 Style */
.themify_builder_content-3988 > .module_row_7.module_row {
	background-color: #ffffff;;
	color: #000000;;
	padding-top : 6%;
	padding-bottom : 6%
}
.themify_builder_content-3988 > .module_row_7.module_row h1 {
	color: #000000;
}
.themify_builder_content-3988 > .module_row_7.module_row h2 {
	color: #000000;
}
.themify_builder_content-3988 > .module_row_7.module_row h3:not(.module-title) {
	color: #000000;
}
.themify_builder_content-3988 > .module_row_7.module_row h4 {
	color: #000000;
}
.themify_builder_content-3988 > .module_row_7.module_row h5 {
	color: #000000;
}
.themify_builder_content-3988 > .module_row_7.module_row h6 {
	color: #000000;
}

