/* .themify_builder_content-2607 > .module_row_0 Style */
.themify_builder_content-2607 > .module_row_0.module_row {
	background-color: #a4dbc6;;
	color: #000000;
}
.themify_builder_content-2607 > .module_row_0.module_row a {
	color: #000000;
}
.themify_builder_content-2607 > .module_row_0.module_row h1 {
	color: #000000;
}
.themify_builder_content-2607 > .module_row_0.module_row h2 {
	color: #000000;
}
.themify_builder_content-2607 > .module_row_0.module_row h3:not(.module-title) {
	color: #000000;
}
.themify_builder_content-2607 > .module_row_0.module_row h4 {
	color: #000000;
}
.themify_builder_content-2607 > .module_row_0.module_row h5 {
	color: #000000;
}
.themify_builder_content-2607 > .module_row_0.module_row h6 {
	color: #000000;
}

.themify_builder .image-2607-0-0-1.module-image { margin-bottom: 50px;  } 
/* .themify_builder_content-2607 > .module_row_1 Style */
.themify_builder_content-2607 > .module_row_1.module_row {
	padding-top : 4%
}

.themify_builder .feature-2607-sub_row_1-1-1-0-0.module-feature a { color: rgba(90,113,187, 1);  } 
.themify_builder .feature-2607-sub_row_1-1-1-1-0.module-feature a { color: rgba(90,113,187, 1);  } 
.themify_builder .feature-2607-sub_row_1-1-1-2-0.module-feature a { color: rgba(90,113,187, 1);  } 
.themify_builder .feature-2607-sub_row_1-1-1-3-0.module-feature a { color: rgba(90,113,187, 1);  } 
.themify_builder .text-2607-sub_row_2-0-1-1-0.module-text { padding-top: 40px; margin-top: 40px; margin-bottom: 60px; border-top-color: rgba(0,0,0, 1.00); border-top-width: 5px; border-top-style: solid;  } 
.themify_builder .text-2607-sub_row_2-0-3-1-0.module-text { padding-top: 40px; margin-top: 60px; margin-bottom: 60px; border-top-color: rgba(0,0,0, 1.00); border-top-width: 5px; border-top-style: solid;  } 
.themify_builder .text-2607-2-0-5.module-text { padding-top: 6%; padding-bottom: 2%; border-top-color: rgba(0,0,0, 1.00); border-top-width: 5px; border-top-style: solid;  } 
.themify_builder .text-2607-2-0-6.module-text { padding-top: 6%; padding-bottom: 2%; border-bottom-color: rgba(0,0,0, 1); border-bottom-width: 5px; border-bottom-style: solid;  } 
/* .themify_builder_content-2607 > .module_row_3 Style */
.themify_builder_content-2607 > .module_row_3.module_row {
	padding-top : 4%;
	padding-bottom : 4%
}

/* .themify_builder_content-2607 > .module_row_4 Style */
.themify_builder_content-2607 > .module_row_4.module_row {
	padding-top : 4%;
	padding-bottom : 4%
}

.themify_builder .image-2607-4-0-2.module-image { padding-top: 3%;  } 
/* .themify_builder_content-2607 > .module_row_5 Style */
.themify_builder_content-2607 > .module_row_5.module_row {
	padding-top : 4%;
	padding-bottom : 4%
}

.themify_builder .image-2607-sub_row_5-0-2-1-0.module-image { padding-top: 3%;  } 
/* .themify_builder_content-2607 > .module_row_6 Style */
.themify_builder_content-2607 > .module_row_6.module_row {
	background-color: #F2F1F1;;
	padding-top : 4%;
	padding-bottom : 4%
}

/* .themify_builder_content-2607 > .module_row_7 Style */
.themify_builder_content-2607 > .module_row_7.module_row {
	padding-top : 4%;
	padding-bottom : 4%
}

.themify_builder .text-2607-7-1-3.module-text { padding-top: 3%;  } 
/* .themify_builder_content-2607 > .module_row_8 Style */
.themify_builder_content-2607 > .module_row_8.module_row {
	background-color: #F2F1F1;;
	padding-top : 4%;
	padding-bottom : 4%
}

.themify_builder .text-2607-8-1-1.module-text { padding-top: 3%;  } 
/* .themify_builder_content-2607 > .module_row_9 Style */
.themify_builder_content-2607 > .module_row_9.module_row {
	padding-top : 4%;
	padding-bottom : 4%
}

/* .themify_builder_content-2607 > .module_row_10 Style */
.themify_builder_content-2607 > .module_row_10.module_row {
	background-color: #201E1C;;
	padding-top : 4%;
	padding-bottom : 4%
}

.themify_builder .feature-2607-sub_row_10-0-1-0-0.module-feature a { color: rgba(90,113,187, 1);  } 
.themify_builder .feature-2607-sub_row_10-0-1-1-0.module-feature a { color: rgba(90,113,187, 1);  } 
.themify_builder .feature-2607-sub_row_10-0-1-2-0.module-feature a { color: rgba(90,113,187, 1);  } 
.themify_builder .feature-2607-sub_row_10-0-1-3-0.module-feature a { color: rgba(90,113,187, 1);  } 
.themify_builder .feature-2607-sub_row_10-0-1-4-0.module-feature a { color: rgba(90,113,187, 1);  } 
.themify_builder .text-2607-10-0-2.module-text { color: rgba(255,255,255, 1.00); padding-top: 4%; padding-bottom: 4%;  } 
.themify_builder .text-2607-10-0-2.module-text h1 { color: rgba(255,255,255, 1.00);  } 
.themify_builder .text-2607-10-0-2.module-text h2 { color: rgba(255,255,255, 1.00);  } 
.themify_builder .text-2607-10-0-2.module-text h3:not(.module-title) { color: rgba(255,255,255, 1.00);  } 
.themify_builder .text-2607-10-0-2.module-text h4 { color: rgba(255,255,255, 1.00);  } 
.themify_builder .text-2607-10-0-2.module-text h5 { color: rgba(255,255,255, 1.00);  } 
.themify_builder .text-2607-10-0-2.module-text h6 { color: rgba(255,255,255, 1.00);  } 
.themify_builder .text-2607-10-0-2.module-text a { color: rgba(255,255,255, 1.00);  } 
