/* .themify_builder_content-2553 > .module_row_0 Style */
.themify_builder_content-2553 > .module_row_0.module_row {
	background-image: url(http://themify.me/demo/themes/builder-layouts/files/2015/07/restaurant_image-1024x680.jpg);
	text-align: center;
	color: #ffffff;;
	padding-top : 10%;
	padding-bottom : 10%
}
.themify_builder_content-2553 > .module_row_0.module_row h1 {
	color: #ffffff;
}
.themify_builder_content-2553 > .module_row_0.module_row h2 {
	color: #ffffff;
}
.themify_builder_content-2553 > .module_row_0.module_row h3:not(.module-title) {
	color: #ffffff;
}
.themify_builder_content-2553 > .module_row_0.module_row h4 {
	color: #ffffff;
}
.themify_builder_content-2553 > .module_row_0.module_row h5 {
	color: #ffffff;
}
.themify_builder_content-2553 > .module_row_0.module_row h6 {
	color: #ffffff;
}

.themify_builder .text-2553-0-0-1.module-text { font-size: 1.8em; padding-top: 1%; margin-top: 3%;  } 
.themify_builder .text-2553-sub_row_0-0-2-1-0.module-text { padding-top: 30px; margin-bottom: 4%; border-top-color: rgba(255,255,255, 1.00); border-top-width: 5px; border-top-style: solid;  } 
/* .themify_builder_content-2553 > .module_row_1 Style */
.themify_builder_content-2553 > .module_row_1.module_row {
	background-color: #ffffff;;
	text-align: left
}

.themify_builder .text-2553-1-1-1.module-text { padding-top: 5%; padding-right: 10%; padding-left: 10%;  } 
/* .themify_builder_content-2553 > .module_row_2 Style */
.themify_builder_content-2553 > .module_row_2.module_row {
	background-image: url(http://themify.me/demo/themes/builder-layouts/files/2015/07/top-view-dish-500x5001.jpg);
	text-align: center;
	color: #ffffff;;
	padding-top : 5%;
	padding-bottom : 5%
}
.themify_builder_content-2553 > .module_row_2.module_row h1 {
	color: #ffffff;
}
.themify_builder_content-2553 > .module_row_2.module_row h2 {
	color: #ffffff;
}
.themify_builder_content-2553 > .module_row_2.module_row h3:not(.module-title) {
	color: #ffffff;
}
.themify_builder_content-2553 > .module_row_2.module_row h4 {
	color: #ffffff;
}
.themify_builder_content-2553 > .module_row_2.module_row h5 {
	color: #ffffff;
}
.themify_builder_content-2553 > .module_row_2.module_row h6 {
	color: #ffffff;
}

.themify_builder .text-2553-sub_row_2-0-1-1-0.module-text { border-bottom-color: rgba(135,151,126, 1); border-bottom-width: 4px; border-bottom-style: solid;  } 
/* .themify_builder_content-2553 > .module_row_3 Style */
.themify_builder_content-2553 > .module_row_3.module_row {
	background-color: #ffffff;;
	text-align: left;
	padding-top : 4%;
	padding-bottom : 4%
}

/* .themify_builder_content-2553 > .module_row_4 Style */
.themify_builder_content-2553 > .module_row_4.module_row {
	background-image: url(http://themify.me/demo/themes/builder-layouts/files/2015/07/coffee-shop.jpg);
	text-align: center;
	color: #ffffff;;
	padding-top : 4%;
	padding-bottom : 4%
}
.themify_builder_content-2553 > .module_row_4.module_row h1 {
	color: #ffffff;
}
.themify_builder_content-2553 > .module_row_4.module_row h2 {
	color: #ffffff;
}
.themify_builder_content-2553 > .module_row_4.module_row h3:not(.module-title) {
	color: #ffffff;
}
.themify_builder_content-2553 > .module_row_4.module_row h4 {
	color: #ffffff;
}
.themify_builder_content-2553 > .module_row_4.module_row h5 {
	color: #ffffff;
}
.themify_builder_content-2553 > .module_row_4.module_row h6 {
	color: #ffffff;
}

.themify_builder .text-2553-4-0-2.module-text { font-size: 1.3em;  } 
/* .themify_builder_content-2553 > .module_row_5 Style */
.themify_builder_content-2553 > .module_row_5.module_row {
	background-color: #ffffff;;
	text-align: left;
	padding-left : 4%
}

.themify_builder .text-2553-5-0-1.module-text { padding-top: 4%;  } 
